# Виртуальное окружение
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.mo

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo

# Тесты и покрытия
.coverage
htmlcov/
.tox/
.pytest_cache/

# Секреты и окружение
.env
.env.*
*.bak
